<div class="container my-5">
    <h1>Translating to Chinese</h1>
        Here is the answer in text mode:
        <div style="border:thin solid black"><%=answer%></div>
        Here is the answer in "pre" mode:
        <pre style="border:thin solid black"><%=answer%></pre>
        <a href="/gpt"}>Translate something else</a>
  </div>
